* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

$colorTexto: rgba(0, 0, 0, 0.55);

body {
    background-color: rgba(228, 242, 242, 0);
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;

    max-width: 800px;
    margin: 0 auto;
    position: relative;
    @import "./partials/header"; 
    @import "./partials/main";
    @import "./partials/footer";

   
}



$bgColors: (
    header: #def0ff,
    footer: rgb(241, 228, 228),
);

@each $key, $value in $bgColors {
    .bg-#{$key}{
        background-color: $value;
    }    
}

