header {

    grid-area: header;
    grid-template-rows: max-content;

    ul {
        list-style: none;
        display: flex;

        li {
            display: flex;
            list-style: none;
            margin-right: 20px;
            a.nav-link{
                color: $colorTexto;

            }

            &:hover {
                background-color: rgb(245, 250, 253);

                a {
                    
                    list-style: none;
                    color: rgb(250, 243, 243);
                    text-decoration: none;
                    text-transform: uppercase;
                }



            }
        }
    }
}